.container {
    width: 80%;
    height: 100%;

    border: 1px solid black;
    border-radius: 0.313rem;
    padding: 1.5rem 1.5rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-self: center;
}

.titulo, .autor, .editora {
    width: 50%;
    margin-bottom: 1rem;
    text-align: center;
}

.qtdPag, .ano, .qtdEstrelas, .qtdEstoque, .categoria, .edicao, .status, .preco, .dimensao {
    width: 20%;
    margin-bottom: 1rem;
    text-align: center;
}

.descricao {
    width: 50%;
    height: 7.5rem;
    text-align: center;
}
