.container {
    width: 30%;
    height: 100%;
    margin-left: 50px;

    border: 1px solid black;
    border-radius: 5px;
    padding: 1.5rem 1.5rem;
}

.buscar {
    width: 70%;
    margin-left: 10px;
    margin-bottom: 5px;
}

.checkCapa {
    margin-left: 60px;
}

.upload {
    margin-left: 140px;
}

.excluir {
    margin-left: 110px;
}